$bg-color: #fafafa;

body {
  background: $bg-color;
}

.def-btn{
  background-color: #db4c3f;
  color: #fff !important;
  text-shadow: none;
  border: 1px solid transparent;

  font-weight: bold;
  font-size: 13px !important;
  line-height: 17px;
  text-decoration: none;
  padding: 6px 12px 7px 12px;
  position: relative;

  white-space: nowrap;
  border-radius: 3px !important;
  text-align: center;
  cursor: pointer;
  &:hover{
    background-color: rgb(197, 55, 39);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px;
    border-color: rgb(176, 40, 26);
  }
}



.list-item {
  display: inline-block;
  margin-right: 10px;
}
.list-enter-active, .list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}


#audio{
  visibility: hidden;
}


