.flex-container-main{
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  .nav-section{
    display: flex;
    width: 300px;
    flex-direction: column;
    position: fixed;
    border-right: 1px solid #f1f1f1;
    padding: 30px 0;
    height: 100%;
    overflow-y: auto;
    .nav{
      list-style: none;
      width: 100%;
      display: block;
      li{
        a{
          width: 100%;
          display: flex;
          height: 40px;
          align-items: center;
          font-size: 14px;
          text-decoration: none;
          color: #333;
          padding-left: 15px;
          &:hover{
            background-color: #fff;
          }
          svg{
            margin-right: 10px;
          }
        }
        .count-tasks{
          justify-content: space-between;
          .task-count_span{
            margin-right: 20px;
            width: 23px;
            height: 23px;
            color: #fff;
            background-color: #db4c3f;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 11px;
            border-radius: 2px;
          }
        }
      }
    }
    .tags-list{
      padding: 20px 0;
      h2{
        width: 100%;
        padding-bottom: 12px;
        margin-bottom: 0;
        border-bottom: 2px solid #eee;
        font-size: 19px;
      }
      ul{
        list-style: none;
        margin: 0;
        padding: 0;
        padding-bottom: 30px;
        li{
          a{
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-height: 30px;
            height: 30px;
            margin-bottom: 5px;
            padding-left: 15px;
            color: #333333;
            text-decoration: none;
            border-bottom: 1px solid #fafafa;
            svg{
              font-size: 17px;
              display: none;
              margin-right: 15px;
            }
            &:hover{
              border-bottom: 1px solid #eee;
              svg{
                display: block;
              }
            }
          }
        }
      }
    }
    .filter-status{
      padding: 20px 0;
      h2{
        width: 100%;
        padding-bottom: 12px;
        margin-bottom: 0;
        border-bottom: 2px solid #eee;
        font-size: 19px;
      }
      ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
          a{
            width: 100%;
            display: flex;
            height: 40px;
            align-items: center;
            //border-bottom: 1px solid #eee;
            text-decoration: none;
            padding-left: 15px;
            font-size: 14px;

            &:hover{
              text-decoration: none;
              color: #333;
              background-color: #fff;
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
            }
            svg{
              margin-right: 8px;
            }
          }

        }
      }
    }
  }
  .main-section{
    display: flex;
    width: 100%;
    margin-left: 300px;
    background-color: #fff;
    min-height:100vh;
    border-right: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    padding: 30px;
    .tasksList{
      width: 100%;
      .tasks-none{
        display: flex;
        flex-direction: column;
        .title{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          span{
            display: flex;
            font-size: 20px;
            font-weight: 500;
          }
          a{
            display: flex;
            align-items: center;
            font-size: 20px;
            text-decoration: none;
            outline: none;
            color: #333;
            &:hover{
              opacity: 0.6;
            }
            svg{
              margin-right: 10px;
            }
          }
        }
        .tasks-none_svg{
          display: flex;
          align-items: center;
          justify-content: center;
          height: 600px;
          width: 100%;
          font-size: 200px;
          opacity: 0.1;
        }
      }
    }
  }
}

@media (max-width: 991px){
  .flex-container-main{
    flex-direction: column;
    .nav-section{
      width: 100%;
      position: relative;
    }
    .main-section{
      width: 100%;
      margin-left: 0;
    }
  }
}


