header{
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #ca2100;
  background-color: #db4c3f;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  position: fixed;
  width: 100%;
  z-index: 999;
  .container-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    div{
      display: flex;
    }
    .logo{
      display: flex;
      align-items: center;
      svg{
        color: #fff;
        font-size: 32px;
      }
    }
    .search{
      position: relative;
      color: #f6d0cd;
      input{
        width: 250px;
        border-radius: 4px;
        padding: 6px 6px 6px 30px;
        background: none;
        border: none;
        position: relative;
        outline: none;
        color: #fff;
        font-size: 14px;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;
          &::placeholder {
          color: #f6d0cd;
            font-size: 14px;
        }
        &:focus{
          background-color: #e47365;
          -webkit-transition: all .2s ease-in;
          transition: all .2s ease-in;
        }
      }
      span{
        position: absolute;
        top: 4px;
        left: 9px;
      }
    }
    .add-task{
      a{
        text-decoration: none;
        color: #fff;
        outline: none;
        &:hover{
          opacity: 0.8;
        }
        &:visited{
          outline: none;
        }
        &:active{
          outline: none;
        }
      }
    }
  }
}

@media (max-width: 991px){
  header{
    .container-flex{
      .add-task{
        span{
          display: none;
        }
      }
    }
  }
}