.modal-add-task{
  .modal-content{
    .modal-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgb(219, 76, 63);
      h5{
        color: #fff;
      }
      .close{
        color: #fff;
        opacity: 0.8;
        &:hover{
          opacity: 1;
        }
      }
    }
    .modal-body{
      .def-btn{
        width: 100%;
        margin-top: 20px;
      }
    }
  }
}