//.main{
//  .nav{
//    padding-top: 20px;
//   ul{
//     list-style: none;
//     margin: 0;
//     padding: 0;
//     width: 100%;
//     display: block;
//     li{
//       width: 100%;
//       a{
//         display: flex;
//         align-items: center;
//         justify-content: flex-start;
//         height: 50px;
//         width: 100%;
//         position: relative;
//         color: #333;
//         font-size: 15px;
//         text-decoration: none;
//         padding-left: 15px;
//         -webkit-transition: all .2s ease-in;
//         transition: all .2s ease-in;
//         &:hover{
//           background-color: #fff;
//           -webkit-transition: all .2s ease-in;
//           transition: all .2s ease-in;
//           font-weight: 600;
//         }
//         svg{
//           margin-right: 10px;
//         }
//         span{
//           position: absolute;
//           top: 14px;
//           right: 15px;
//         }
//       }
//     }
//   }
//  }
//}