.nav-section::-webkit-scrollbar-button {
  background-image:url('');
  background-repeat:no-repeat;
  width:5px;
  height:0px
}

.nav-section::-webkit-scrollbar-track {
  background-color:#ecedee
}

.nav-section::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color:#ddd;
}

.nav-section::-webkit-scrollbar-thumb:hover{
  background-color:#ccc;
}

.nav-section::-webkit-resizer{
  background-image:url('');
  background-repeat:no-repeat;
  width: 12px;
  height:0px
}
.nav-section::-webkit-scrollbar{
  width: 12px;
  border-radius: 2px;
}