.Pause{
  color: pink;
  font-size: 17px;
}

.Close{
  color: red;
  font-size: 17px;
}

.Done{
  color: yellow;
  font-size: 17px;
}

.In-Progress{
  color: green;
  font-size: 17px;
}

.To-Do{
  color: blue;
  font-size: 17px;
}