.tasks-list{
  list-style: none;
  margin: 0;
  padding: 0;
  .task-item{
    margin-bottom: 15px;
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 2px;
    .task-item_header{
      border-bottom: 1px solid #eee;
      padding-bottom: 10px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .task-date-active{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .date{
          color: green;
          font-size: 17px;
        }
        .activity{
          margin-left: 20px;
          .active{
            width: 60px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #9bf81b;
            color: #fff;
          }
          .done{
            width: 60px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ca2100;
            color: #fff;
          }
        }
      }

    }
    .task-item_body{
      .tags_name{
        padding: 10px 0;
        display: block;
        .tag{
          background-color: #eee;
          border-radius: 3px;
          padding: 6px 10px;
        }
      }
    }
    .task-item_footer{
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid #eee;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .delete-task{
        display: block;
        cursor: pointer;
        font-size: 20px;
        opacity: 0.8;
        &:hover{
          opacity: 1;
        }
      }
      #activity{
        .add-to-active{
          padding: 0 10px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #9bf81b;
          color: #fff;
          text-decoration: none;
          &:hover{
            opacity: 0.8;
          }
        }
        .add-to-done{
          padding: 0 10px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #ca2100;
          color: #fff;
          text-decoration: none;
          &:hover{
            opacity: 0.8;
          }
        }
      }
    }
  }
}

@media (max-width: 400px){
  .tasks-list{
    .task-item{
      .task-item_header{
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-between;
        .task-date-active{
          display: flex;
          justify-content: space-between;
          align-items: center;
          .date{
            color: green;
            font-size: 17px;
          }
          .activity{
            margin-left: 20px;
            .active{
              width: 60px;
              height: 25px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #9bf81b;
              color: #fff;
            }
            .done{
              width: 60px;
              height: 25px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #ca2100;
              color: #fff;
            }
          }
        }

      }
      .task-item_footer{
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid #eee;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .delete-task{
          display: block;
          cursor: pointer;
          font-size: 20px;
          opacity: 0.8;
          &:hover{
            opacity: 1;
          }
        }
        #activity{
          .add-to-active{
            padding: 0 10px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #9bf81b;
            color: #fff;
            text-decoration: none;
            &:hover{
              opacity: 0.8;
            }
          }
          .add-to-done{
            padding: 0 10px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ca2100;
            color: #fff;
            text-decoration: none;
            &:hover{
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}